$darkred: #8B0000;

.main-create {
  margin-top: 50px;
  padding-top: 30px;
  border-top: 1px solid $darkred;
}

.form-button {
  background-color: $darkred;
  color: white;
  border-radius: 4px;
  font-family: "Open Sans", "Helvetica", "sans-serif";
}

.head-create {
  margin-top: 50px;
}

.wrap {
  padding: 0 20%;
  text-size: 1px;
  background-color: white;
  padding: 20px;
  margin-top: 50px;
  border-radius: 8px;
  color: $darkred;
  margin-bottom: 20px;
}
